html, body {
	background-color: #efefef;
	height: 100%;
	font-family: 'Varela Round', sans-serif;
}

body {
	overflow: hidden;
}

#inputContainer, #outputContainer {
	height: 100%;
	width: 50%;
	float: left;
	padding: 75px;
	transition: width 0.3s ease;
}

#inputs {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

canvas {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}