.card {
	transition: box-shadow 0.1s linear; 
	height: 100%;
	width: 100%;
	padding: 35px;
	background-color: white;
	box-shadow: 5px 5px 15px 0px rgba(184,184,184,0.75);
	border-radius: 3px;

	&:hover {
		box-shadow: 7px 7px 15px 5px rgba(184,184,184,1);
	}
}


.inputList {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	transition: height 0.5s ease;
	overflow: hidden;

	.group {
		border-bottom: 1px solid #aaaaaa;
		padding-bottom: 15px;
		margin-bottom: 15px;

		.inputBox {
			border: 1px solid #dfdfdf;
			border-radius: 5px;
			width: 450px;

			label {
				width: 100%;
				border-bottom: 1px solid #dfdfdf;
				margin: 5px 5px 0px 0px;
				padding: 10px;
				font-size: 16px;
				font-weight: 100;
			}

			input {
				width: 98%;
				height: 35px;
				border: none;
				margin: 5px;
				font-size: 22px;
				padding: 3px;
			}
		}
	}

	.resize-container {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;

		img {
			opacity: 0.25;
			width: 100%;
		}
	}
}

.btn {
	transition: all 0.1s linear;
	border: 2px solid $go-button;
	color: $go-button;

	&:hover {
		background-color: $go-button;
		color: white;
	}
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;

	label {
		display: block;
		margin-bottom: 3px;
		padding-left: 15px;
		text-indent: -15px;
	}

	a.selected {
		background-color:#1F75CC;
		color:white;
		z-index:100;
	}

	&, p {
		border-bottom: 1px solid #EFEFEF;
		margin: 8px 0;
		padding-bottom: 8px;
	}
}